<html>
<head><title>Restaurant</title></head>
<body>
<h3>Showing <%= r.length %> Restaurants</h3>
<p><a href=/create>Create</a></p><br>
<ul>
  <% r.forEach(function(rest) { %>
  <li><a href=/readDetails?id=<%= rest._id %>><%= rest.name %></a></li><br>
  <% });                        %>
</ul>
</BODY></HTML>
